@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato' sans-serif;
}

.container{
    text-align: center;
    margin : 200px auto;
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 3px rgb(224, 213, 213);
    padding: 15px;  
}

.clock{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.time{
    display:grid;
    grid-template-columns: 3fr 1fr;
    border: 1px solid lightgrey;
}

.btn-grp > button {
    padding: 10px 3px;
    width: 100%;
    border: none;
}
.btn-grp > button:hover{
    background-color: lightgrey;
}
h1{
    font-size: 50px;
    align-self: center;
    cursor: pointer;
}
.btn{
    margin-top: 10px;
    margin-left: 3px;
    padding: 15px;
    border-radius: 50%;
    border: none;
}
